{sys, [
       {lib_dirs, ["../", "../deps/"]},
       {erts, [{mod_cond, derived}, {app_file, strip}, {lib_dir, ".."}]},
       {app_file, strip},
       {rel, "ibot_os", "1",
        [
         kernel,
         stdlib,
         sasl, crypto, cowboy, syntax_tools, jiffy, ibot_db, ibot_core, ibot_generator, ibot_webi, ibot_nodes, mnesia
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib, sasl, crypto, cowboy, lager, syntax_tools, jiffy, ibot_db, ibot_core, ibot_generator, ibot_webi, ibot_nodes, mnesia
        ]},
       {boot_rel, "ibot_os"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
    {app, sasl,   [{incl_cond, include}]},
    {app, stdlib, [{incl_cond, include}]},
    {app, crypto, [{incl_cond, include}]},
    {app, kernel, [{incl_cond, include}]},
    {app, goldrush, [{incl_cond, include}]},
    {app, ranch, [{incl_cond, include}]},
    {app, cowlib, [{incl_cond, include}]},
    {app, cowboy, [{incl_cond, include}]},
    {app, compiler, [{incl_cond, include}]},
    {app, syntax_tools, [{incl_cond, include}]},
    {app, lager, [{incl_cond, include}]},
{app, jiffy, [{incl_cond, include}]},
       {app, ibot_core, [{incl_cond, include}]},
{app, ibot_db, [{incl_cond, include}]},
{app, ibot_events, [{incl_cond, include}]},
{app, ibot_generator, [{incl_cond, include}]},
{app, ibot_nodes, [{incl_cond, include}]},
{app, ibot_ri, [{incl_cond, include}]},
{app, ibot_webi, [{incl_cond, include}]},
{app, mnesia, [{incl_cond, include}]}
      ]}.

{target_dir, "ibot_os"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/ibot_os", "bin/ibot_os"},
           {copy, "files/ibot_os.cmd", "bin/ibot_os.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.

