{sub_dirs, ["ibot_core", "ibot_events", "ibot_nodes", "ibot_generator", "ibot_db", "ibot_ri", "ibot_webi", "rel", "desp"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{lib_dirs,["./" "deps"]}.

{deps, [
  {'lager', ".*", {
    git, "git://github.com/basho/lager.git", "master"}
  },
  {'cowboy', ".*", {
    git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}
  },
  {'jiffy', ".*", {
    git, "git://github.com/davisp/jiffy.git", {tag, "master"}}
  }
]}.

